$map: (
    fondo: linear-gradient(to right, #D7DDE8, #9eabce),
    border: 1px solid white,
);

@mixin card {
    color: white;
    border: map-get($map, border);
}

.index {
    .card {
        color: white;
        background: map-get($map, fondo);
        border: map-get($map, border);
        width: 60%;

        .card-header {
            font-style: italic;
            @include card;
        }

        .btn {
            @include card;
        }
    }

}