@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("assets/img/fondo.png");
}

button {
    cursor: pointer;
}

body {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/*.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "main-superior main-superior"
        "product community"
        "product community"
        "footer footer";
}

header {
    grid-area: header;
}

section.main-superior {
    grid-area: main-superior;
}

section.product {
    grid-area: product;
}

div.community {
    grid-area: community;
}

footer {
    grid-area: footer;
}
*/


/* header */

header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 17%, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    box-shadow: 0px 7px 15px 0px #8B8B8B;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-navegacion li {
    display: inline-block;
    padding-left: 20px;
    font-weight: 500;
}

.logo {
    height: 85px;
}

.logo img {
    display: block;
    height: 100%;
}

.header_searchbar {
    padding: 8%;
    border-radius: 5px;
    margin-left: 5%;
    border: 1.6px solid black;
    background-color: transparent;
}

::placeholder {
    color: black;
}

.signIn {
    border-radius: 5px;
    padding: 12%;
    border: 1.6px solid black;
    background-color: transparent;
    width: 5rem;
}


.navbar2 {
    display: none;
}

/*index*/

.main-superior {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-top: 20px;
    align-items: center;
}

.main-superior h1 {
    font-size: 150%;
}

.main-superior img {
    width: 60%;
}


.main-superior button {
    border: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.main-superior button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.main-superior button:active {
    position: relative;
    top: 1px;
}

.main-inferior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    margin-top: 2%;
}

.product {
    padding: 10px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-bottom: 1%;
}

.product img {
    width: 40%;
}

.product button {
    border: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.product button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.product button:active {
    position: relative;
    top: 1px;
}

.product label {
    font-size: xx-large;
    margin-bottom: 8px;
}

.fa-tag {
    font-size: x-large;
    margin-right: 5px;
}

.community {
    padding: 10px;
    border-radius: 5px;
    background-color: #ebebeb;
}


.community button {
    border: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.community button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.community button:active {
    position: relative;
    top: 1px;
}

.community label {
    font-size: xx-large;
    margin-top: 8px;
    text-align: center;
}

.community img {
    width: 60%;
}

.fa-users {
    font-size: x-large;
    margin-right: 5px;
}

/*products.html*/

.main-superior-product,
.main-product {
    position: relative;
    text-align: center;
    color: white;
}

.rideTheWind {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

.essentials {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-product img {
    width: 50%;
}


.main-inferior-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.main-product {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 72%, rgba(63, 166, 176, 255)200%);
    border-radius: 5px;
    margin-left: 10%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.product-title {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(53, 110, 132, 0.6);
    padding: 8px;
    border-radius: 5%;
    border: 3px solid white;
    color: white;
    width: 30%;
}

/*community.html*/

.community-title {
    text-align: center;
    margin: 15px 0;
}

.title-community {
    margin-left: 5%;
    margin-top: 3%;
}

.add-community {
    background-color: #ebebeb;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.add-community input,
textarea {
    border: 1px solid black;
    padding: 1%;
    border-radius: 5px;
    background: transparent;
}

.add-community button {
    border: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.add-community button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.add-community button:active {
    position: relative;
    top: 1px;
}

.all-posts-community {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
}

.post-community img {
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 1%;
}

.post-community {
    background: #ebebeb;
    padding: 20px;
    border-radius: 10px;
}

.post-community label {
    font-style: italic;
}


.search-by-community {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    overflow: hidden;
}

.search-community h3 {
    padding: 5%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.search-community h4 {
    background: rgb(190, 190, 190);
    background: linear-gradient(0deg, rgba(190, 190, 190, 1) 0%, rgba(157, 157, 157, 1) 100%);
    padding: 5%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.search-community h4 {
    cursor: pointer;
    transition: all .3s;
}

.search-community h4:hover {
    background: rgb(190, 190, 190);
    background: linear-gradient(0deg, rgba(157, 157, 157, 1) 100%, rgba(190, 190, 190, 1) 0%);
}

/*stores.html*/


iframe {
    display: block;
    margin: auto;
    width: 75%;
    border-radius: 10px;
    margin-top: 1%;
}


/*contact.html*/

.title-contact {
    text-align: center;
    margin: 20px 0;
}

.main-contact {
    display: flex;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 2%;
}

.text-contact {
    width: 50%;
    margin-right: 20px;
    text-align: center;
}

.text-contact img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 5px;
}


.form-contact {
    margin: auto;
    display: block;
    width: 50%;
    text-align: center;
}

.form-contact input,
textarea,
button,
select {
    padding: 1%;
    margin-top: 7px;
}

select {
    border-right: 2px inset rgba(53, 110, 132, 255);
    border-bottom: 2px inset rgba(53, 110, 132, 255);
    border-left: 2px inset rgba(53, 110, 132, 255);
    border-top: 1px inset rgba(53, 110, 132, 255);
    border-radius: 6px;

    background: none;
}

.form-contact input:not([type=radio], [type=reset], [type=submit], [type=checkbox]) {
    border-bottom: 3px inset rgba(53, 110, 132, 255);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 4px;
    width: 60%;
    background: none;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(53, 110, 132, 255);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}



.form-contact input[type=submit],
input[type=reset] {
    border: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 90%;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.form-contact input[type=submit]:hover,
input[type=reset]:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.form-contact input[type=submit]:active,
input[type=reset]:active {
    position: relative;
    top: 1px;
}


/*footer*/

.menu-footer li {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu-footer p {
    margin-bottom: 15px;
}

footer .contenedor {
    flex-direction: column;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 17%, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
    box-shadow: 0px -6px 15px 0px #8B8B8B;
    margin-top: 20px;
}

@media (max-width: 440px) {
    .main-inferior {
        display: inline;
    }

    .main-products {
        display: flex;
    }

    .language {
        display: none;
    }


    .menu-navegacion ul {
        display: none;
    }


    .header_searchbar,
    .signIn {
        padding: 2%;
    }

    .navbar2 {
        display: inline;
    }

    .navbar2 ul {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 17%, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
        padding: 3%;
        border: 1px solid cadetblue;
        border-radius: 5px;
    }

    header {
        box-shadow: none;
    }

    /*community*/

    .all-posts-community {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 2%;
        width: 90%;
        margin: auto;
    }

    .add-community input[type="file"] {
        width: 70%;
    }

    /*products*/

    .main-superior-product img {
        width: 80%;
    }

    .main-inferior-product {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /*stores*/

    .main-stores {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    iframe {
        width: 85%;
    }

    .form-stores input {
        width: 60%;
        padding: 2%;
    }

    /*contact*/
    .main-contact {
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
        padding: 2%;
    }

    .text-contact {
        margin: auto;
        width: 95%;
    }

    .form-contact {
        margin-top: 5%;
        width: 90%;
    }

    .form-contact input:not([type=radio], [type=reset], [type=submit], [type=checkbox]) {
        width: 80%;
    }

}

@media (max-width: 768px) {
    .main-inferior {
        display: inline;
    }

    .main-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1%;

    }

    .menu-navegacion ul {
        display: none;
    }

    .header_searchbar,
    .signIn {
        padding: 2%;
    }

    .navbar2 {
        display: inline;
    }

    .navbar2 ul {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 17%, rgba(63, 166, 176, 255), rgba(53, 110, 132, 255));
        padding: 2.5%;
        border: 1px solid cadetblue;
        border-radius: 5px;
    }

    header {
        box-shadow: none;
    }

    .main-superior-product img {
        width: 80%;
    }

    .main-inferior-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .rideTheWind,
    .essentials {
        position: relative;
        color: black;
    }

    .rideTheWind {
        margin-top: 4%;
    }

    .form-stores input {
        width: 70%;
        padding: 1.5%;
    }

    iframe {
        width: 90%;
    }

    .main-contact {
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        margin: auto;
        padding: 2%;
    }

    .text-contact {
        margin: auto;
        width: 95%;
    }

    .form-contact {
        margin-top: 5%;
        width: 90%;
    }


}