* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: linear-gradient(to right, #D7DDE8, #9eabce);
}

nav img {
  width: 18%;
  margin-left: 10%;
}

nav .nav-link {
  color: white;
}

nav .input-group {
  width: 35%;
}

nav .dropdown-toggle {
  color: white;
}

nav .navbar-toggler {
  color: white;
}

nav .navbar-collapse .dropdown-menu {
  background: #9eabce;
  border: 1px solid white;
}

nav .navbar-collapse .dropdown-menu .dropdown-item {
  color: white;
}

nav .navbar-collapse .dropdown-menu :hover {
  background-color: inherit;
}

.index .card {
  color: white;
  background: rgba(0, 102, 255, 0.5647058824);
  border: 1px solid white;
}

.index .card .card-header {
  font-style: italic;
  color: white;
  border: 1px solid white;
}

.index .card .btn {
  color: white;
  border: 1px solid white;
}

.index .cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.index .card-index {
  padding: 4%;
  border-radius: 5px;
  width: 35%;
  text-align: center;
  margin-top: 1%;
  cursor: pointer;
  background-image: url(/assets/img/blob-scene-haikei\ \(1\).png);
}

.index .card-index:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: 0.2s;
}

.index .card-index a {
  text-decoration: none;
}

.index .card-index h2 {
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 3px 5px #FF0066;
}

footer {
  background: linear-gradient(to right, #D7DDE8, #9eabce);
  color: white;
}

iframe {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 5px;
  margin-top: 1%;
}

* {
  overflow-x: hidden;
}

.stores .card {
  background-image: url(/assets/img/stacked-waves-haikei\ \(2\).png);
  color: white;
}

.stores .card:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: 0.2s;
}

.stores .input-group .btn-search,
.stores .input-group .btn {
  border: 1px rgb(142, 142, 142) solid;
  border-radius: 5px;
  padding: 0 1%;
  color: rgb(76, 76, 76);
}

.stores .input-group .btn-search:hover,
.stores .input-group .btn:hover {
  padding: 0 3%;
  transition: 0.3s;
}

.stores .btn:hover {
  border: none;
}

.community .card-body {
  display: inline-block;
}

.community .card-body input,
.community .card-body textarea {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 0.8%;
  border-radius: 5px;
  background: linear-gradient(to right, #46b59b, #017e7f);
  border: none;
  padding: 7px;
  color: white;
}

.community .card-body ::placeholder {
  color: white;
}

.community .card-body .customfile::-webkit-file-upload-button {
  border: none;
  border-radius: 2px;
  background-color: #e4e4e4;
  color: #017e7f;
  cursor: pointer;
}

.community .card-body .btn {
  width: 65%;
  display: block;
  margin: auto;
  margin-top: 1.2%;
  font-size: larger;
}

.products .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products .card:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  transition: 0.2s;
}

.products .card {
  margin: 3px;
}

h1 {
	    text-align: center;
      -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #46b59b, 
                  8px 8px 0px #017e7f
}

.products .parent {
  text-align: center;
}

.products h2 {
  background: linear-gradient(to right, #46b59b, #017e7f);
  border-radius: 10px;
  color: white;
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 5px;
}


@media (max-width: 600px) {
  .products .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .products .card {
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
  }

  .index .cards-index {
    display: grid;
    grid-template-columns: 1fr;
  }

  .index .card-index {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
  }
}

/*# sourceMappingURL=style.css.map */